*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0 auto;
  font-family: "Cinzel Decorative", serif;
  font-weight: 500;
  font-style: normal;
  --bold-text: 550;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background-image: linear-gradient(to bottom right, black, purple);
  color: white;
  align-items: center;
}

h1 {
  display: flex;
  font-weight: var(--bold-text);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  color: white;
}

a:hover {
  background-color: black;
}

#menu {
  display: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

body {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

main {
  display: flex;
  width: 80%;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-on-load {
  animation: fadeIn 1.5s ease-out forwards;
}

/* mobile view */

@media only screen and (max-width: 699px) {

  header {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    margin-bottom: 1rem;
    z-index: 100;
  }

  nav a {
    color: white;
    display: none;
    text-decoration: none;
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 1.25rem;
  }

  .active {
      color: yellow;
  }

  nav a:hover {
      text-decoration: underline 0.5px;
  }

  .open a {
      display: block;
  }

  nav {
      background-color: black;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      align-items: center;
      width: 100%;
  }

  #menu {
      font-size: 2rem;
      border: 0;
      background: none;
      color: white;
      z-index: 1000;
  }

  #menu::before {
      content: "☰";
  }

  #menu.open::before {
      content: "X";
  }

  main {
    width: 95%;
    flex-direction: column;
    height: auto;
  }

  section {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  } 






}

