* {
  margin: 0 auto;
  box-sizing: border-box;
}

/* Mobile View */

:root {
  --c-black: hsl(0, 0%, 0%);
  --c-frosted-blue: hsl(187, 61%, 74%);
  --c-burnt-tangerine: hsl(8, 67%, 52%);
  --c-lavender-blush: hsl(333, 21%, 92%);
  --c-grey: hsl(0, 0%, 49%);
  --primary-color: var(--c-black);
}
